<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangzc.booksearchbiz.Mapper.Mp.SelectMapper">

    <select id="selectEsNoteIndexData" resultType="map" parameterType="map">
        select n.id as noteId, n.creator_id as userId, n.title, n.topic_name as topicName, n.channel_id as channelId, n.type, n.img_uris as imgUris,
        n.video_uri as videoUri,
        n.create_time,
        n.update_time as updateTime,
        u.nickname, u.avatar,
        IFNULL(nc.like_total, 0) as likeTotal,
        IFNULL(nc.collect_total, 0) as collectTotal,
        IFNULL(nc.comment_total, 0) as commentTotal
        from t_note n left join t_user u on n.creator_id = u.id
        left join t_note_count nc on n.id = nc.note_id
        where n.visible = 0 and n.`status` = 1
        <if test="noteId != null">
            and n.id = #{noteId} limit 1
        </if>
    </select>


    <select id="selectEsUserIndexData" resultType="java.util.Map">
        select u.id,
               u.xiaohashu_id,
               u.nickname,
               u.avatar,
               IFNULL(uc.note_total, 0) as note_total,
               IFNULL(uc.fans_total, 0) as fans_total
            from t_user u left join t_user_count uc
        on u.id = uc.user_id
        where u.id = #{userId}
    </select>


</mapper>
