<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangzc.booknotebiz.Mapper.TNoteLikeMapper">

    <resultMap id="BaseResultMap" type="com.zhangzc.booknotebiz.Pojo.Domain.TNoteLike">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="noteId" column="note_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,note_id,
        create_time,status
    </sql>

    <insert id="batchInsertOrUpdate">
        INSERT INTO t_note_like (user_id, note_id, status, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.noteId}, #{item.status}, #{item.createTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
        status = VALUES(status),
        create_time = VALUES(create_time)
    </insert>

    <insert id="saveOrUpdateTnoteLike">
        INSERT INTO t_note_like (user_id, note_id, status, create_time)
        VALUES
        (#{userId}, #{noteId}, #{status}, #{createTime})
        ON DUPLICATE KEY UPDATE
        status = VALUES(status),
        create_time = VALUES(create_time)
    </insert>
</mapper>
