<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangzc.blog.blogai.Mapper.TArticleContentMapper">

    <resultMap id="BaseResultMap" type="com.zhangzc.blog.blogai.Pojo.domain.TArticleContent">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="articleId" column="article_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_id,content
    </sql>


    <select id="getAticleContent" resultType="string">
        SELECT nc.content -- 笔记文本内容
        FROM t_note n
                 LEFT JOIN t_note_content nc
                           ON n.content_uuid = nc.id -- 通过UUID关联内容表
        WHERE n.id = #{articleId}; -- 替换为具体的笔记ID（如 123456）
    </select>
    
</mapper>
